<h2 class="font-bold text-lg xl:text-2xl align-middle m-3 underline">Países</h2>

<hr />

<ul
  class="w-full mt-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
>
  <!-- <li
    routerLink="/home"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600"
  >
    Home Page
  </li>
  <li
    routerLink="/contac"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600"
  >
    Contact Page
  </li>
  <li
    routerLink="/about"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600"
  >
    About Page
  </li> -->
  <li
    routerLink="countries/by-capital"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600"
  >
    Por Capital
  </li>
  <li
    routerLink="countries/by-countrie"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600"
  >
    Por País
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive="bg-pink-100 text-black"
    class="cursor-pointer w-full px-4 py-2 rounded-b-lg"
  >
    Por Region
  </li>
  <!-- <li
    routerLink="/about"
    routerLinkActive="bg-pink-100 text-black"

  >
    faltante
  </li> -->
</ul>
